html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
}

.noScroll {
  overflow-x: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.no-scroll-x {
  overflow-x: hidden;
}

.generalPadding {
  max-width: 69.375rem;
  margin: 0 auto;
}
.generalPadding--pall {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.generalPadding--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.generalPadding--px {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 64em) {
  .generalPadding--px {
    padding-right: 12rem;
    padding-left: 12rem;
  }
}
.generalPadding--pt {
  padding-top: 2.25rem;
}
.generalPadding--pr {
  padding-right: 2rem;
}
.generalPadding--pb {
  padding-bottom: 2.25rem;
}
.generalPadding--pl {
  padding-left: 2rem;
}

.header.open .header__toggle {
  cursor: pointer;
}
.header.open .header__toggle span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle span:last-child {
  transform: rotate(-45deg);
}
.header .header__toggle {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.header .header__toggle > span {
  display: block;
  width: 26px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  transform-origin: 2px 1px;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.header .header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #860909;
  display: flex;
  justify-content: space-between;
}
.header nav .header__logo {
  margin: 5px 50px 0px;
  padding: 0;
}
.header nav .header__logo img {
  width: 180px;
  height: 60px;
}
.header nav .header_container {
  display: flex;
  border: 1px;
}
.header nav .header_container .header__links {
  margin: auto;
}
.header nav .header_container .header__links a {
  position: relative;
  font-size: 1.8rem;
  color: white;
  transition: color 400ms ease-in-out;
}
.header nav .header_container .header__links a:not(:last-child) {
  margin-right: 2em;
}
.header nav .header_container .header__links a:hover::before {
  opacity: 1;
}
.header nav .header_container .adminButton {
  width: 60px;
  height: 60px;
  margin: 1rem 5rem;
  border: 1px solid;
}

.adminDashboard {
  display: flex;
  background-color: #860909;
}
.adminDashboard .adminNavigation {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-width: 250px;
  max-width: 450px;
  text-align: center;
  color: #e9e9e9;
  height: 100%;
}
.adminDashboard .adminNavigation .Logo {
  width: 200px;
  margin: auto;
  margin: 25px auto 25px auto;
}
.adminDashboard .adminNavigation .greeting {
  font-size: 30px;
}
.adminDashboard .adminNavigation .greeting h1 {
  margin: 0 auto 25px auto;
}
.adminDashboard .adminNavigation .greeting span {
  color: #00EB96;
}
.adminDashboard .adminNavigation .adminLinks {
  margin: 5px 0;
}
.adminDashboard .adminNavigation .adminLinks img {
  position: relative;
  margin-left: 50px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.adminDashboard .adminNavigation .adminLinks a {
  position: relative;
  margin: auto;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 12px;
  border-radius: 15px;
  color: #e9e9e9;
  transition: 150ms ease-in-out;
}
.adminDashboard .adminNavigation .adminLinks a:hover {
  background-color: #e9e9e9;
  color: #292828;
  transform: scale(1.03);
}
.adminDashboard .adminNavigation .adminLinks a:active {
  background-color: #eeb2b2;
  transform: scale(1);
  color: #e9e9e9;
}
.adminDashboard .adminNavigation .adminLinks__Dashboard img {
  width: 30px;
  height: 30px;
}
.adminDashboard .adminNavigation .adminLinks__Dashboard h2 {
  margin-bottom: -10px;
}
.adminDashboard .adminNavigation .adminLinks__Dashboard:hover img {
  content: url("Images/AdminDashboard/icon-dashboard-current.svg");
}
.adminDashboard .adminNavigation .adminLinks__Recipient h2 {
  margin-bottom: -10px;
}
.adminDashboard .adminNavigation .adminLinks__Recipient:hover img {
  content: url("Images/AdminDashboard/Icon-Recipient-current.svg");
}
.adminDashboard .adminNavigation .adminLinks__OrganDonor:hover img {
  content: url("Images/AdminDashboard/icon-organDonor-current.svg");
}
.adminDashboard .adminNavigation .adminLinks__BloodDonor:hover img {
  content: url("Images/AdminDashboard/Icon-BloodDonor-current.svg");
}
.adminDashboard .adminNavigation .adminLinks__DonorApplication:hover img {
  content: url("Images/AdminDashboard/icon-donorApplicant-current.svg");
}
.adminDashboard .adminNavigation .adminLinks__BloodTransfusion:hover img {
  content: url("Images/AdminDashboard/icon-bloodTransfusion-current.svg");
}
.adminDashboard .adminNavigation .adminLinks__LogOut:hover img {
  content: url("Images/AdminDashboard/Icon-LogOut-current.svg");
}
.adminDashboard .adminNavigation .current a {
  background-color: #e9e9e9;
  color: #292828;
  transform: scale(1.03);
}

.adminDashboardContent {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
  border-radius: 25px 0 0 25px;
}
.adminDashboardContent .dashboard-title {
  font-size: 70px;
  color: #292828;
  margin: 30px 30px 0px 30px;
}

.adminDashboardContent__summaryContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  grid-template-rows: 300px;
  padding: 30px 30px 0px 30px;
  grid-template-areas: "a b c d e";
  text-align: center;
}
.adminDashboardContent__summaryContainer .grid-item {
  display: grid;
  grid-template-rows: 80px;
  border-radius: 20px;
}
.adminDashboardContent__summaryContainer .grid-item .flash-Title {
  color: #e9e9e9;
  padding: 20px;
  font-size: 20px;
}
.adminDashboardContent__summaryContainer .grid-item .statistic-total {
  font-size: 3.25rem;
  place-items: center;
  color: #e9e9e9;
  padding: 30px;
}
.adminDashboardContent__summaryContainer .grid-item .flash-title {
  font-size: 1.25rem;
  margin: 10px;
  padding: 30px;
}
.adminDashboardContent__summaryContainer .totalApplication {
  grid-area: a;
  background-color: #860909;
}
.adminDashboardContent__summaryContainer .TotalOrganDonor {
  grid-area: b;
  background-color: #136371;
}
.adminDashboardContent__summaryContainer .OrganTransplantCandidate {
  grid-area: c;
  background-color: #860909;
}
.adminDashboardContent__summaryContainer .BloodRequest {
  grid-area: d;
  background-color: #136371;
}
.adminDashboardContent__summaryContainer .TotalBloodSupply {
  grid-area: e;
  background-color: #860909;
}
.adminDashboardContent__summaryContainer .LatestDonorApplication {
  grid-area: f;
  background-color: #136371;
}
.adminDashboardContent__summaryContainer .LatestDonorApplication h2 {
  font-size: 30px;
  margin: 10px;
}

/***********LATEST DONOR APPLICATION**************/
.LatestDonorApplication {
  display: flex;
  flex-direction: column;
  background-color: #136371;
  border-radius: 20px;
  margin: 30px;
  height: 450px;
  min-width: 720px;
}
.LatestDonorApplication__Title {
  padding: 25px 25px 10px 25px;
  color: #e9e9e9;
}
.LatestDonorApplication .latestApplication_container {
  display: block;
  width: auto;
  overflow-y: auto;
  white-space: nowrap;
  border-radius: 15px;
}
.LatestDonorApplication .latestApplication_container::-webkit-scrollbar {
  width: 1em;
  border-radius: 15px;
}
.LatestDonorApplication .latestApplication_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.LatestDonorApplication .latestApplication_container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 15px;
}
.LatestDonorApplication .latestApplication_container .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9e9e9;
  margin: 10px 30px;
  padding: 10px 30px 10px 30px;
  border-radius: 15px;
  min-height: 100px;
}
.LatestDonorApplication .latestApplication_container .profile__Image {
  width: 60px;
  height: 60px;
}
.LatestDonorApplication .latestApplication_container .profile__Name {
  color: #292828;
  font-size: 25px;
}
.LatestDonorApplication .latestApplication_container .profile__ApplicationDate {
  color: #292828;
}
.LatestDonorApplication .latestApplication_container .profile__Organ {
  width: 60px;
  height: 60px;
}
.LatestDonorApplication .latestApplication_container .profile .applicatiion-function-container .applicant-accept {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 50%;
}
.LatestDonorApplication .latestApplication_container .profile .applicatiion-function-container .applicant-accept:hover {
  filter: invert(42%) sepia(45%) saturate(484%) hue-rotate(55deg) brightness(101%) contrast(88%);
}
.LatestDonorApplication .latestApplication_container .profile .applicatiion-function-container .applicant-accept:active {
  filter: invert(58%) sepia(76%) saturate(290%) hue-rotate(55deg) brightness(98%) contrast(87%);
}
.LatestDonorApplication .latestApplication_container .profile .applicatiion-function-container .applicant-reject {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.LatestDonorApplication .latestApplication_container .profile .applicatiion-function-container .applicant-reject:hover {
  filter: invert(17%) sepia(31%) saturate(4340%) hue-rotate(341deg) brightness(82%) contrast(80%);
}
.LatestDonorApplication .latestApplication_container .profile .applicatiion-function-container .applicant-reject:active {
  filter: invert(44%) sepia(23%) saturate(1396%) hue-rotate(314deg) brightness(93%) contrast(79%);
}

@media (max-width: 87.4375em) {
  .adminDashboard .adminNavigation {
    width: 250px;
    min-width: 250px;
    max-width: 3500px;
  }
  .adminDashboard .adminNavigation .Logo {
    width: 200px;
  }
  .adminDashboard .adminNavigation .greeting {
    margin: 0 auto -20px auto;
  }
  .adminDashboard .adminNavigation .adminLinks a {
    width: 200px;
    height: 50px;
  }
  .adminDashboard .adminNavigation .adminLinks img {
    margin-left: 20px;
    width: 35px;
    height: 35px;
  }
  .adminDashboard .adminNavigation .adminLinks__Dashboard img {
    width: 30px;
    height: 30px;
    margin-left: 24px;
  }
  /*********************CONTENT*********/
  .adminDashboardContent .dashboard-title {
    font-size: 2.375rem;
  }
  .adminDashboardContent__summaryContainer {
    gap: 5px;
    grid-template-rows: 200px;
    padding: 20px 20px 0px 20px;
  }
  .adminDashboardContent__summaryContainer .grid-item {
    grid-template-rows: 35px;
  }
  .adminDashboardContent__summaryContainer .grid-item .flash-Title {
    padding: 10px;
    font-size: 1.125rem;
  }
  .LatestDonorApplication {
    margin: 20px;
  }
  .LatestDonorApplication__Title {
    font-size: 1.125rem;
    padding: 20px 20px 10px 20px;
  }
}
.slider {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.slider .slides {
  display: flex;
}
.slider .slides input {
  display: none;
}
.slider .slides .slide {
  transition: 1s ease-in-out;
}
.slider .slides #radio1:checked ~ .first {
  margin-left: 3840px;
}
.slider .slides #radio2:checked ~ .first {
  margin-left: 0px;
}
.slider .slides #radio3:checked ~ .first {
  margin-left: -3840px;
}
.slider .manual-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  position: absolute;
  margin-top: 700px;
}
.slider .manual-nav .manual-btn {
  background-color: rgb(43, 43, 43);
  padding: 10px;
  margin: 0px 30px 0px 30px;
  border-radius: 20px;
  margin-top: -40px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.slider .manual-nav .manual-btn:hover {
  scale: 1.2;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  background-color: red;
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
}
.slider .manual-nav .manual-btn::after {
  box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.slider .manual-nav .manual-btn:hover::after {
  opacity: 1;
}

.color {
  background-color: red;
}/*# sourceMappingURL=style.css.map */