//Primary

$darkblue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$lime-green-light: hsl(136, 55%, 68%);
$bright-cyan-light: hsl(192, 54%, 70%);

//Neutral Color

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 56%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//Fonts 
$font-sm: 0.875rem; // 14px 
$font-med: 1.125rem; // 18px
$font-lg: 2.375rem; 
$font-xlg: 3.25rem; 


$padding-lg: 12rem;
$padding-s: 0.9375rem;

