//Primary

$primaryRed: #860909;
$limeGreen: #00EB96;
$offWhite: #e9e9e9;
$offBlack: #292828;
$darkBlueGreen: #136371;
//Neutral Color






//Fonts 
$font-xsm: 0.875rem; // 14px 
$font-sm: 1.125rem; // 18px 
$font-med: 1.5rem; // 24px
$font-lg: 2.8125rem; //45px
$font-xlg: 4.375rem; //70px


$padding-lg: 1.875rem; //30px 
$padding-m: 1.25rem; // 20px
$padding-s: 0.625rem; //10px

