//Primary

$primaryRed: #860909;
$limeGreen: #1ECBE1;
$offWhite: #e9e9e9;
$offBlack: #292828;
$offGrey: #6d6a6a;
$darkBlueGreen: #136371;
$lightBlueGreen: #6AAFAC;

//Neutral Color






//Fonts 
$font-sm: 0.875rem; // 14px 
$font-med: 1.125rem; // 18px
$font-bml: 	1.875rem;
$font-lg: 2.375rem; //	38px
$font-xlg: 3.25rem;  // 52px


$padding-lg: 12rem;
$padding-s: 0.9375rem;

