@use "../abstract/index.scss" as *;



.adminDashboard{
    
    display: flex;
    background-color: $primaryRed;
    height: 100vh;
    
    //overflow: hidden;
    
    
    

    .adminNavigation{
        
        display: flex;
        flex-direction: column;
        width: 450px;
        min-width:250px;
        max-width: 450px;
        text-align: center;
        color: $offWhite;
        height: 100%;
        
        
        
        

        .Logo{
            width: 200px;
            margin: auto;
            margin: 25px auto 25px auto;
            
        }
        
        .greeting{
            h1{
                margin: 0 auto 25px auto; 
             }
            font-size: 30px;
            span{
                color: $limeGreen;
            }
        }
        
    
        

        
        .adminLinks{
            margin: 5px 0 ;
            
            &__Dashboard{
                
                h2{
                    margin-bottom: -10px;
                }
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-dashboard-current.svg');
                    }
                    
                }
            }
            &__Recipient{
                
                h2{
                    margin-bottom: -10px;
                }
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/Icon-Recipient-current.svg');
                    }
                    
                }
            }
            &__OrganDonor{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-organDonor-current.svg');
                    }
                    
                }
            }
            &__BloodDonor{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/Icon-BloodDonor-current.svg');
                    }
                    
                }
            }
            &__DonorApplication{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-donorApplicant-current.svg');
                    }
                    
                }
            }
            &__BloodTransfusion{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-bloodTransfusion-current.svg');
                    }
                    
                }
            }
            &__LogOut{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/Icon-LogOut-current.svg');
                    }
                    
                }
            }
            
            
            img{
                position: relative;
                margin-left: 50px;
                margin-right: 10px;
                width: 40px;
                height: 40px;
                
            }
            a{
               
                position: relative;
                margin: auto;
                width: 300px;
                height: 80px;
                display: flex;
                align-items: center;
                text-align: left;
                font-size: 12px;
                border-radius: 15px;
                color: $offWhite;
                transition: 150ms ease-in-out ;

                &:hover{
                    background-color: $offWhite;
                    color: $offBlack;
                    transform: scale(1.03);
                    
                }
                &:active{
                    background-color: #eeb2b2;
                    transform: scale(1.0);
                    color: $offWhite;
                }

            }         
        }
        
        .current{
            a{
                background-color: $offWhite;
                color: $offBlack;
                transform: scale(1.03);
            }
             
        }
    }

}




//MAIN FRAME
.adminDashboardContent{
    width: 100%;
    height: 100%;
    background-color: $offWhite;
    border-radius: 25px 0 0 25px;
   
    .dashboard-title{
        font-size: 70px;
        color: $offBlack;
        margin: 30px 30px 0px 30px;
    }
    

   
}


        //CONTAINER
      
        .adminDashboardContent__summaryContainer{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 10px;
            grid-template-rows: 310px;
            padding: 30px 30px 0px 30px;
            grid-template-areas: 
               "a b c d e";
            text-align: center;
            
           

                .grid-item{
                    display: grid;
                    grid-template-rows: 80px;
                    border-radius: 20px;
                    
                    
                    .flash-Title{
                        color: $offWhite;
                        padding: 20px;
                        font-size: 20px;
                    }
                    
                    .statistic-total{
                        font-size: 5rem; // 80px
                        place-items: center;
                        color: $offWhite;
                        padding: 30px;
    
                    }
                    .flash-title{
                        font-size: 1.25rem; // 20px
                        margin: 10px;
                        padding: 30px;
                        
                        
                    }
                
                   
                }
                
            
            .totalApplication{
                grid-area: a;
                background-color: $primaryRed;
                
                
            }
            .TotalOrganDonor{
                grid-area: b;
                background-color: $darkBlueGreen;
                
            }
            .OrganTransplantCandidate{
                grid-area: c;
                background-color: $primaryRed;
            }
            .BloodRequest{
                grid-area: d;
                background-color: $darkBlueGreen;
            }
            .TotalBloodSupply{
                grid-area: e;
                background-color: $primaryRed;
            }
           .LatestDonorApplication{
                grid-area: f;
                background-color: $darkBlueGreen;
                h2{
                    font-size: 30px;
                    margin: 10px;
                }
            }
        }
    

           
     
        /***********LATEST DONOR APPLICATION**************/

        .LatestDonorApplication{
            background-color: $darkBlueGreen;
            border-radius: 20px;
            margin: 30px;
            
            

            &__Title{
                padding: 25px 25px 10px 25px;
                color: $offWhite;
            }
       

            .latestApplication_container{
            width: auto;
            overflow-y: auto;
            max-height: 370px;
            border-radius: 15px;
            

                &::-webkit-scrollbar {
                    width: 1em;
                    border-radius: 15px;
                   
                }
               
                &::-webkit-scrollbar-track {
                    
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    border-radius: 20px;
                }
               
                &::-webkit-scrollbar-thumb {
                    background-color: darkgrey;
                    outline: 1px solid slategrey;
                    border-radius: 15px;
                    
                }


                .profile{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $offWhite;
                    margin: 10px 30px;
                    padding: 10px 30px 10px 30px;
                    border-radius: 15px;
                    min-height: 100px;

                    

                    &__ID{

                    }
                    &__Image{
                    width: 80px;
                    height: 80px;
                    
                    
                   }
                   &__Name{
                    color: $offBlack;
                    font-size: 25px;
                   }
                   &__ApplicationDate{
                    color: $offBlack;
                   }
                   &__Organ{
                        width: 90px;
                        height: 90px;
                   }

                   .applicatiion-function-container{
                        
                    .applicant-accept{
                        cursor: pointer;
                        border-radius: 50%;
                        //box-shadow: 0px 0px 0px 15px #7ab858;
                        &:hover{
                            filter: invert(42%) sepia(45%) saturate(484%) hue-rotate(55deg) brightness(101%) contrast(88%);
                        }
                        &:active{
                            filter: invert(58%) sepia(76%) saturate(290%) hue-rotate(55deg) brightness(98%) contrast(87%);
                        }
                    }
                    .applicant-reject{
                        border-radius: 50%;
                        cursor: pointer;
                        //box-shadow: 0px 0px 0px 15px #c05a5a;
                        &:hover{
                            filter: invert(17%) sepia(31%) saturate(4340%) hue-rotate(341deg) brightness(82%) contrast(80%); 
                        }
                        &:active{
                            filter: invert(44%) sepia(23%) saturate(1396%) hue-rotate(314deg) brightness(93%) contrast(79%);
                        }
                    }

                   }

                }
            }
        }

        @include breakpoint-down(large){


            .adminDashboard {
                
                .adminNavigation {
                    *{
                        transform: scale(0.9);
                    }

                    .adminLinks {
                        a {
                            width: 250px;
                        }
                        img{
                            margin-left: 30px;
                        }
                    }
                }

            }
        }

        
    


     
        
   
    




