@use "../abstract/index.scss" as *;
.adminDashboard{
    
    display: flex;
    background-color: $primaryRed;
    min-height: 100vh;
    height: 100%;
    ;
    
    

    .adminNavigation{
        
        //display: flex;
        flex-direction: column;
        width: 450px;
        min-width:300px;
        max-width: 450px;
        text-align: center;
        color: $offWhite;
        height: 100%;
        
        

        .Logo{
            width: 200px;
            margin: auto;
            margin: 25px auto 25px auto;
            
        }
        
        .greeting{
            h1{
                margin: 0 auto 25px auto; 
             }
            font-size: 30px;
            span{
                color: $limeGreen;
            }
        }
        
    
        

        
        .adminLinks{
            margin: 5px 0 ;
            
            &__Dashboard{
                
                h2{
                    margin-bottom: -10px;
                }
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-dashboard-current.svg');
                    }
                    
                }
            }
            &__Recipient{
                
                h2{
                    margin-bottom: -10px;
                }
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/Icon-Recipient-current.svg');
                    }
                    
                }
            }
            &__OrganDonor{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-organDonor-current.svg');
                    }
                    
                }
            }
            &__BloodDonor{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/Icon-BloodDonor-current.svg');
                    }
                    
                }
            }
            &__DonorApplication{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-donorApplicant-current.svg');
                    }
                    
                }
            }
            &__BloodTransfusion{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/icon-bloodTransfusion-current.svg');
                    }
                    
                }
            }
            &__LogOut{
                &:hover{
                    img{
                        content: url('Images/AdminDashboard/Icon-LogOut-current.svg');
                    }
                    
                }
            }
            
            
            img{
                position: relative;
                margin-left: 50px;
                margin-right: 10px;
                width: 40px;
                height: 40px;
                
            }
            a{
               
                position: relative;
                margin: auto;
                width: 300px;
                height: 80px;
                display: flex;
                align-items: center;
                text-align: left;
                font-size: 12px;
                border-radius: 15px;
                color: $offWhite;
                transition: 150ms ease-in-out ;

                &:hover{
                    background-color: $offWhite;
                    color: $offBlack;
                    transform: scale(1.03);
                    
                }
                &:active{
                    background-color: #eeb2b2;
                    transform: scale(1.0);
                    color: $offWhite;
                }

            }         
        }
        
        .current{
            a{
                background-color: $offWhite;
                color: $offBlack;
                transform: scale(1.03);
            }
             
        }
    }

}



//MAIN FRAME
.adminDashboardContent{
    width: 100%;
    background-color: $offWhite;
    border-radius: 25px 0 0 25px;
    

    *{
        border: 1px solid;
    }
    

    h1{
        font-size: 70px;
        color: $offBlack;
        margin: 30px;
       }
    
        //CONTAINER
        &__summaryContainer{
           margin: 30px;
           height: 80%;
           display: grid;
            //grid-template-columns: 300px 300px 300px 300px;
           grid-template-areas:
            'application organ transplant blood supply'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant'
            'donorApplicant donorApplicant donorApplicant donorApplicant donorApplicant';
           gap: 30px;
           margin: 30px;
           text-align: center;
           border-radius: 15px;
           justify-content: center;
           overflow: hidden;

           h1{
            color: $offWhite;
            
        
           }
           h2{
            color: $offWhite;
            font-size: 18px;
            padding:10px;
            height: 80px;
            //font-family: ;
           }

           
            //ITEMS
            
            .grid-item-totalApplication{
                grid-area: application;
                background-color: $primaryRed;
                border-radius: 15px;
                max-width: 250px;
                min-width: 200px;
                height:300px;
                
            }
            .grid-item-TotalOrganDonor{
                grid-area: organ;
                background-color: $darkBlueGreen;
                border-radius: 15px;
                max-width: 250px;
                min-width: 200px;
                height:300px;
                
            }
            .grid-item-OrganTransplantCandidate{
                grid-area: transplant;
                background-color: $primaryRed;
                border-radius: 15px;
                max-width: 250px;
                min-width: 200px;
                height:300px;
                
            }
            .grid-item-BloodRequest{
                grid-area: blood;
                background-color: $darkBlueGreen;
                border-radius: 15px;
                max-width: 250px;
                min-width: 200px;
                height:300px;
                
            }
            .grid-item-TotalBloodSupply{
                grid-area: supply;
                background-color: $primaryRed;
                border-radius: 15px;
                max-width: 250px;
                min-width: 200px;
                height:300px;
            }
            .grid-item-LatestDonorApplication{
                h2{
                    font-size:25px;
                    margin: 10px;
                }
                grid-area: donorApplicant;
                background-color: $darkBlueGreen;
                text-align: left;
                border-radius: 15px;
                height: 100%;

                
            }
            



        }
    }
    


    
        
   
    




