@use "../abstract/index.scss" as *;

.donorRegistrationBody {
    overflow-x: hidden;

    #blocker {
        background-color: rgb(43, 0, 145);
        position: absolute;
        height: 38px;
        width: 960px;
        z-index: 1;
        opacity: 0;
    }
    
    #inputdate {
        font-size: 12px;
        padding: 18px 0px 2px 8px;
    }

    #spandate {
        padding: 18px 0px 2px 0px;
        font-size: 12px;
        transform: scale(calc(10 / 12)) translateY(-18px);
    }

    #registerbtn {
        border: none;
        outline: none;
        background-color: #A00608;
        font-weight: 450;
        padding: 10px;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
        transition: .2s ease-in-out;
        width: 220px;

        &:hover {
            background-color: rgb(106, 175, 172);
            cursor: pointer;
            scale: 1.02;
        }
    }
}

#topnav {
    display: flex;

    .dp {
        display: flex;
        align-items: center;

        img {
            margin-right: 15px;
            height: 45px;
        }
    }
}

.organordon {
    display: flex;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;

    p.organordontxt {
        margin-top: 4px;
        margin-left: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #A00608;
    }
}

.userprofile {
    .span {
        font-weight: 550;
        margin-bottom: 5px;
    }
}

.intro {
    text-indent: 20px;
    text-align: justify;
    box-sizing: border-box;
    font-size: 16px;
    margin: 15px 0px;

    .driverlicense {
        display: flex;
        justify-content: center;
        margin: 15px 0px;

        img {
            width: 500px;
            border-radius: 25px;
        }
    }

    .introtxt {
        background-color: rgb(182, 206, 206);
        border-radius: 10px;
        padding: 10px;
    }

    .registerbtn {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
        font-weight: 450;

        #alreadydonbtn {
            border-radius: 25px;
            background-color: #A00608;
            color: white;
            padding: 10px 18px 10px 0px;
            transition: .2s ease-in-out;

            &:hover {
                background-color: rgb(106, 175, 172);
                cursor: pointer;
                scale: 1.02;
            }
        }
    }
}

#txt1 {
    margin-top: -20px;
}

