@use "../abstract/index.scss" as *;

body {
    height: 100vh;
    overflow: hidden;
}

.slider {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    .slides {
        display: flex;
        input {
            display: none;
        }

        .slide {
            transition: 1s ease-in-out;
            position: relative;
            height: 1080px;
            .overlay {
                position: absolute;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1020px;
                scale: 0.833;
                
                .left {
                    .heading {
                        .red {
                            color: #A00608;
                        }
                        position: absolute;
                        width: 1018px;
                        height: 254px;
                        left: 90px;
                        top: 283px;

                        font-style: normal;
                        font-weight: 700;
                        font-size: 70px;
                        line-height: 85px;

                        color: #000000;
                    }

                    .text {
                        position: absolute;
                        width: 700px;
                        height: 87px;
                        left: 93px;
                        top: 560px;
                        font-style: normal;
                        font-weight: 550;
                        font-size: 15px;
                        line-height: 29px;

                        color: #161616;
                    }

                    button {
                        padding: 1.3em 3em;
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 2.5px;
                        font-weight: 600;
                        color: #000;
                        background-color: #45ffe0;
                        border: none;
                        border-radius: 45px;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                        transition: all 0.3s ease 0s;
                        cursor: pointer;
                        outline: none;
                        position: absolute;
                        left: 93px;
                        top: 650px;
                        &:hover {
                            background-color: #c42323;
                            box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
                            color: #fff;
                            transform: translateY(-7px);
                        }
    
                        &:active {
                            transform: translateY(-1px);
                        }
                    }

                    #btn2 {
                        background-color: white;

                        &:hover {
                            background-color: #c42323;
                            box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
                            color: #fff;
                            transform: translateY(-7px);
                        }
                    }
                }

                #lft2  {
                    #hd2 {
                        margin-top: 30px;
                    }
                    #txt2 {
                        width: 800px;
                        top: 500px;
                    }
                }

                #lft3  {
                    #hd3 {
                        margin-top: 30px;
                    }
                    #txt3 {
                        width: 800px;
                        top: 500px;
                    }
                }

                .right {
                    position: absolute;
                    right: 0px;
                    img {
                        width: 1000px;
                    }
                }
            }
        }

        #radio1 {
            &:checked ~ .first{
                margin-left: 3840px;
            }

        }

        #radio2 {
            &:checked ~ .first {
                margin-left: 0px;
            }
        }

        #radio3 {
            &:checked ~ .first {
                margin-left: -3840px;
            }
        }
    }

    .manual-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 25px;
        position: absolute;
        margin-top: 650px;
        background-color: green;

        .manual-btn {
            background-color: rgb(43, 43, 43);
            padding: 10px;
            margin: 0px 30px 0px 30px;
            border-radius: 20px;
            margin-top: -40px;
            cursor: pointer;
            transition: .25s ease-in-out;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5), 0 1px 2px rgba(0,0,0,0.1); 
            &:hover {
                scale: 1.2;
                cursor: pointer;
                transition: .25s ease-in-out;
                background-color: red;
                box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
            }

            &::after {
                box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0,0,0,0.4);
                opacity: 0;
                transition: opacity 0.25s ease-in-out;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }
}

.color {
    background-color: red;
}

.nav-bar {
    background-color: #A00608;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo {
        padding-left: 15px;
        img {
            width: 135px;
            border-radius: 10px;

            &:hover {
                scale: 1.03;
                transition: .25s ease-in-out;
                box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
            }

            &::after {
                box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0,0,0,0.4);
                opacity: 0;
                transition: opacity 0.25s ease-in-out;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }

    .toggle {
       display: none;
       position: absolute;
       right: 10px;
       height: 60px;
    }

    .menuButton {
        scale: 0.5;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 13%;
        color: #090909;
        width: 3.5em;
        height: 3.5em;
        border-radius: 0.5em;
        background: #b41417;
        border: 1px solid #e22528;
        transition: all .3s;
        box-shadow: 6px 6px 12px #861315,
                   -6px -6px 12px #be1e20;

        &:hover {
            border: 1px solid #d84a4c;
            box-shadow: 8px 8px 14px #861315,
                   -8px -8px 14px #be1e20;
            scale: 0.502;
        }

        &:active {
            color: #666;
            box-shadow: inset 4px 4px 12px #861315,
                       inset -4px -4px 12px #be1e20;
        }

        span {
            width: 30px;
            height: 4px;
            background: #ffffff;
            border-radius: 100px;
            transition: 0.3s ease;
        }

        input[type = "checkbox"] {
            appearance: none;
            display: none;
            visibility: hidden;
        
            &:checked ~ span.top {
                transform: translateY(290%)rotate(45deg);
                width: 40px;
            }
                
            &:checked ~ span.bot {
                transform: translateY(-270%) rotate(-45deg);
                width: 40px;
                box-shadow: 0 0 10px #495057;
            }
                
            &:checked ~ span.mid {
                transform: translateX(-20px);
                opacity: 0;
            }
        }
    }

    .sidebar {
        .menu {
            display: flex;
            align-items: center;
            list-style: none;
            letter-spacing: 1.5px;
            justify-content: center;
    
            li{
                transition: .2s ease-in-out;
                border-radius: 20px;
                padding: 5px 15px;
                margin: 0px 20px;
    
                &:hover {
                    scale: 1.03;
                    transition: .25s ease-in-out;
                    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
                }
    
                &::after {
                    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0,0,0,0.4);
                    opacity: 0;
                    transition: opacity 0.25s ease-in-out;
                }
    
                &:hover::after {
                    opacity: 1;
                }
    
                &:hover {
                    background-color: white;
                    color: red;
    
                    a{
                        color: red;
                    }
                }
    
                a {
                    color: rgb(255, 255, 255);
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    transition: .2s ease-in-out;
                    border-radius: 20px;
                }
            }
            
            div {
                margin-top: 6px;
                img {
                    width: 40px;
                    margin: 5px 15px;
    
                    border-radius: 50px;
                    &:hover {
                        scale: 1.03;
                        transition: .25s ease-in-out;
                        box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
                    }
            
                    &::after {
                        box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0,0,0,0.4);
                        opacity: 0;
                        transition: opacity 0.25s ease-in-out;
                    }
            
                    &:hover::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #navmenu{
        display: none;
    }
}

@media screen and (max-width: 766px) {
    #nav {
        display: block;
        position: relative;
        height: 60px;

        #logoid {
            padding-left: 15px;
            padding-top: 4px;
        }

        #toggler {
            display: block;
            position: absolute;
            top: 0px;
        }

        #sidenav {
            background-color: #a00609b0;
            height: 100vh;
            z-index: 1;
            position: absolute;
            right: -350px;
            transition: 0.3s ease-in-out;
            margin-top: 3px;
            width: 350px;


            #navmenu {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0px;
                margin: 0px;
                #list {
                    margin: 25px 10px;
                    text-align: center;
                }
            }   
        }
    }
}