@use "../abstract/index.scss" as *;

.slider {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .slides {
        display: flex;
        input {
            display: none;
        }

        .slide {
            transition: 1s ease-in-out;
        } 

        #radio1 {
            &:checked ~ .first{
                margin-left: 3840px;
            }

        }

        #radio2 {
            &:checked ~ .first {
                margin-left: 0px;
            }
        }

        #radio3 {
            &:checked ~ .first {
                margin-left: -3840px;
            }
        }
    }

    .manual-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 25px;
        position: absolute;
        margin-top: 700px;

        .manual-btn {
            background-color: rgb(43, 43, 43);
            padding: 10px;
            margin: 0px 30px 0px 30px;
            border-radius: 20px;
            margin-top: -40px;
            cursor: pointer;
            transition: .25s ease-in-out;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5), 0 1px 2px rgba(0,0,0,0.1); 
            &:hover {
                scale: 1.2;
                cursor: pointer;
                transition: .25s ease-in-out;
                background-color: red;
                box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
            }

            &::after {
                box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0,0,0,0.4);
                opacity: 0;
                transition: opacity 0.25s ease-in-out;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }
}

.color {
    background-color: red;
}

