@use "../abstract/index.scss" as *;

.recip_dashb_body {
    height: 100vh;
    display: flex;
    overflow: hidden;

    --sidebar-background: white;
    --dark-text: rgb(41, 41, 41);
    --dashbBG: rgb(245, 247, 251);
    --shadow: #CED7E6;
    --babyblue: rgb(221, 233, 255);
    --lightpink: rgb(255, 204, 212);
    --whiteBox: white;
    --rowRightTxt: white;
    --rowLeftBG: white;
    --btypeBG: rgb(249, 140, 177);
    --orgCountTxt: rgb(54, 90, 142);
    --bloodCountTxt: rgb(195, 27, 84);
}

#sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 275px;
    background-color: var(--sidebar-background);   
    overflow-y: scroll;

    &::-webkit-scrollbar {
    width: 5px;
    }

    &::-webkit-scrollbar-track {
    background-color: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
    display: none;
    }

    .logoandcorner {
        display: flex;
        height: 100px;

        .logo {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            margin-top: 25px;
            padding: 0px;
            img {
                width: 135px;
                border-radius: 10px;
        
                &:hover {
                    scale: 1.03;
                    transition: .25s ease-in-out;
                    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0, 0, 0, 0.4);
                }
        
                &::after {
                    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0), 0 3px 5px rgba(0,0,0,0.4);
                    opacity: 0;
                    transition: opacity 0.25s ease-in-out;
                }
        
                &:hover::after {
                    opacity: 1;
                }
            }        
        }
    
        .toggler {
                background-color: transparent;
                margin-left: -15px;
                margin-top: 35px;
                z-index: 2;
                position: absolute;
                svg {
                    background-color: rgb(94, 182, 192);
                    fill: white;
                    height: 30px;
                    width: 30px;
                    border-radius: 30px;
                    transition: 0.2s ease-in-out;
                    
                    &:hover {
                        cursor: pointer;
                        background-color: rgb(255, 101, 167);
                    }
                }
            }
        }
    }

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-text);

    img {
        width: 60px;

        &:hover {
            cursor: pointer;
        }
    }
    h1 {
        margin-top: 10px;
    }
    p {
        margin: 0px;
    }
}

.menu-bar {
    .menu {
        .menu-links {
            display: flex;
            justify-content: center;
            padding: 0px;
            .nav-link {
                display: flex;
                flex-direction: column;
        
                a {
                    margin: 10px 0px;
                    padding: 15px 30px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    transition: .1s ease-in-out;
                    
                    svg {
                        height: 25px;
                    }
        
                    .text {
                        margin-left: 15px;
                        width: 100px;
                        color: var(--dark-text);
                        font-weight: 600;
                    }

                    &:hover {
                        background-color: var(--dashbBG);
                        cursor: pointer;
                    }

                    &:active {
                        background-color: var(--dashbBG);
                    }
                }

                .logoutform {
                    margin: 10px 0px;
                    padding: 15px 30px;
                    width: 212px;
                    height: 55px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .aLogout {
                        .logoutbtn {
                            margin: 10px 0px;
                            padding: 15px 30px;
                            width: 212px;
                            height: 55px;
                            border-radius: 15px;
                            display: flex;
                            align-items: center;
                            font-size: 15px;
                            transition: 0.1s ease-in-out;
                            border-style: none;
                            background-color: var(--sidebar-background);
                            
                            .svglogout {
                                width: 37px;
                                height: 25px;
                                fill: rgb(193, 26, 29);
                                margin-left: -5px;
                            }

                            #ptxt {
                                width: 100px;
                                color: var(--dark-text);
                                font-weight: 600;
                                margin-left: -10px;
                            }

                            &:hover {
                                background-color: var(--dashbBG);
                                cursor: pointer;
                            }
        
                            &:active {
                                background-color: var(--dashbBG);
                            }
                        }
                    }
                }

                .learndon {
                    height: 55px;
                }
                
                .toggleWrapper {
                    position: relative;
                    top: 190px;
                    margin-left: 50px;
                    scale: 0.6;
                    overflow: hidden;
                    padding: 0 0px;
                    transform: translate3d(-50%, -50%, 0);
                    color: white;
            
                    input {
                        position: absolute;
                        left: -99em;
                    }
            
                    .toggle {
                        cursor: pointer;
                        display: inline-block;
                        width: 90px;
                        height: 50px;
                        background-color: #83d8ff;
                        border-radius: 84px;
                        transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
            
            
                        &:before {
                            content: '';
                            position: absolute;
                            left: -50px;
                            top: 15px;
                            font-size: 18px;
                        }
            
                        &:after {
                            content: '';
                            position: absolute;
                            right: -48px;
                            top: 15px;
                            font-size: 18px;
                            color: #749ed7;
                        }
            
                        &__handler {
                            display: inline-block;
                            position: relative;
                            z-index: 1;
                            top: 3px;
                            left: 3px;
                            width: 44px;
                            height: 44px;
                            background-color: #ffcf96;
                            border-radius: 50px;
                            box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
                            transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            transform: rotate(-45deg);
            
                            .crater {
                                position: absolute;
                                background-color: #e8cda5;
                                opacity: 0;
                                transition: opacity 200ms ease-in-out;
                                border-radius: 100%;
                            }
            
                            .crater--1 {
                                top: 18px;
                                left: 10px;
                                width: 4px;
                                height: 4px;
                            }
            
                            .crater--2 {
                                top: 28px;
                                left: 22px;
                                width: 6px;
                                height: 6px;
                            }
            
                            .crater--3 {
                                top: 10px;
                                left: 25px;
                                width: 8px;
                                height: 8px;
                            }
                        }
            
                        .star {
                            position: absolute;
                            background-color: #fff;
                            transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
                            border-radius: 50%;
                        }
            
                        .star--1 {
                            top: 10px;
                            left: 35px;
                            z-index: 0;
                            width: 30px;
                            height: 3px;
                        }
            
                        .star--2 {
                            top: 18px;
                            left: 28px;
                            z-index: 1;
                            width: 30px;
                            height: 3px;
                        }
            
                        .star--3 {
                            top: 27px;
                            left: 40px;
                            z-index: 0;
                            width: 30px;
                            height: 3px;
                        }
            
                        .star--4,
                        .star--5,
                        .star--6 {
                            opacity: 0;
                            transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
                        }
            
                        .star--4 {
                            top: 16px;
                            left: 11px;
                            z-index: 0;
                            width: 2px;
                            height: 2px;
                            transform: translate3d(3px, 0, 0);
                        }
            
                        .star--5 {
                            top: 32px;
                            left: 17px;
                            z-index: 0;
                            width: 3px;
                            height: 3px;
                            transform: translate3d(3px, 0, 0);
                        }
            
                        .star--6 {
                            top: 36px;
                            left: 28px;
                            z-index: 0;
                            width: 2px;
                            height: 2px;
                            transform: translate3d(3px, 0, 0);
                        }
                    }
            
                    input:checked+.toggle {
                        background-color: #749dd6;
            
                        &:before {
                            color: #749ed7;
                        }
            
                        &:after {
                            color: #fff;
                        }
            
                        .toggle__handler {
                            background-color: #ffe5b5;
                            transform: translate3d(40px, 0, 0) rotate(0);
                        }
            
                        .toggle__handler .crater {
                            opacity: 1;
                        }
            
                        .star--1 {
                            width: 2px;
                            height: 2px;
                        }
            
                        .star--2 {
                            width: 4px;
                            height: 4px;
                            transform: translate3d(-5px, 0, 0);
                        }
            
                        .star--3 {
                            width: 2px;
                            height: 2px;
                            transform: translate3d(-7px, 0, 0);
                        }
            
                        .star--4,
                        .star--5,
                        .star--6 {
                            opacity: 1;
                            transform: translate3d(0, 0, 0);
                        }
            
                        .star--4 {
                            transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
                        }
            
                        .star--5 {
                            transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
                        }
            
                        .star--6 {
                            transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
                        }
                    }
                }
            }
        }
    }
}

.contentWrapper {
    display: flex;
    width: calc(100%);

    .corner {
        width: 25px;
        min-height: calc(100vh);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: var(--dashbBG);
        z-index: 0px;
    }

    .menuButton {
        scale: 0.6;
        cursor: pointer;
        top: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 13%;
        color: #090909;
        width: 3.5em;
        height: 3.5em;
        border-radius: 0.5em;
        background: var(--dashbBG);
        border: 1px solid rgb(248, 250, 252);
        transition: all .2s ease-in-out;
        box-shadow: 6px 6px 12px rgb(210, 216, 230),
                   -6px -6px 12px rgb(251, 252, 255);
        position: absolute;

        &:hover {
            border: 1px solid rgb(248, 250, 252);
            box-shadow: 8px 8px 14px rgb(190, 198, 216),
                   -8px -8px 14px rgb(255, 255, 255);
            scale: 0.602;
        }

        &:active {
            transition: all .2s ease-in-out;
            color: #666;
            box-shadow: inset 4px 4px 12px rgb(190, 198, 216),
                       inset -4px -4px 12px rgb(255, 255, 255);
        }

        span {
            width: 30px;
            height: 4px;
            background: #000000;
            border-radius: 100px;
            transition: 0.3s ease;
        }

        input[type = "checkbox"] {
            appearance: none;
            display: none;
            visibility: hidden;
        
            &:checked ~ span.top {
                transform: translateY(290%)rotate(45deg);
                width: 40px;
            }
                
            &:checked ~ span.bot {
                transform: translateY(-270%) rotate(-45deg);
                width: 40px;
            }
                
            &:checked ~ span.mid {
                transform: translateX(-20px);
                opacity: 0;
            }
        }
    }
      
    .allBody {
        width: 100%;
        min-height: 100vh;
        background-color: var(--dashbBG);
        overflow-y: scroll;
        overflow-x: hidden;

        .recipDashb {
            width: 101%;
            min-height: 100vh;
            //background-color: red;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
    
            .recipTop {
                //background-color: pink;
                height: 40px;
                grid-area: header;
                display: flex;
                align-items: center;
                font-size: 18px;
                margin-left: 10px;
                color: var(--dark-text);
                padding-top: 20px;
                .user {
                    padding-left: 15px;
                    color: red;
                }
            }
    
            .recipBottom {
                //min-height: 100%;
                display: grid;
                grid-area: bottom;
                grid-template-areas: 'left right';
                height: calc(100%);
                
                .recipLeft{
                    //background-color: lightblue;
                    //margin-top: 15px;
                    grid-area: left;
                    display: grid;
                    grid-template-areas: 'organDon''bloodDon';
                    gap: 25px;
                    margin-bottom: 25px;
                    margin-top: 25px;
                    width: 565px;
                    .organDon {
                        margin-left: 10px;
                        background-color: var(--babyblue);
                        border-radius: 25px;
                        height: min-content;
                        box-shadow: 0px 11px 10px var(--shadow);
                        grid-area: organDon;
    
                        .orgtxt {
                            width: 200px;
                            margin: 10px 0px;
                            padding-left: 25px;
                            color: var(--orgcountTxt);
                            font-weight: 600;
                        }
    
                        .orgsWrapper {
                            display: grid;
                            grid-template-areas: 'orgRow1''orgRow2';
                            gap: 15px;
                            margin-bottom: 25px;
                            
                            .orgRow1 {
                                display: grid;
                                grid-area: orgRow1;
                                grid-template-columns: repeat(4, .1fr);
                                gap: 15px;
                                justify-items: center;
                                justify-content: center;
                            }
    
                            .org1, .org2 {
                                background-color: var(--whiteBox);
                                width: 115px;
                                height: 115px;
                                border-radius: 15px;
                                box-shadow: 0px 8px 8px #B6CAEA;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
    
                                .orgimg {
                                    img {
                                        height: 60px;
                                    }
                                }
    
                                .orgCount {
                                    color: var(--orgcountTxt);
                                    font-weight: 600;
                                    margin: 0px;
                                    font-size: 25px;
                                }
                            }
        
                            .orgRow2 {
                                display: grid;
                                grid-area: orgRow2;
                                grid-template-columns: repeat(4, .1fr);
                                gap: 15px;
                                justify-items: center;
                                justify-content: center;
                            }
                        }
                    }
                    
                    .bloodDon {
                        background-color: var(--lightpink);
                        border-radius: 25px;
                        height: min-content;
                        box-shadow: 0px 11px 10px var(--shadow);
                        margin-left: 10px;
                        grid-area: bloodDon;
                        
                        .bloodtxt {
                            width: 200px;
                            margin: 10px 0px;
                            padding-left: 25px;
                            color: var(--bloodCountTxt);
                            font-weight: 600;
                        }
    
                        .bloodsWrapper {
                            display: grid;
                            grid-template-areas: 'bloodRow1''bloodRow2';
                            gap: 15px;
                            margin-bottom: 25px;
                            
                            .bloodRow1 {
                                display: grid;
                                grid-area: bloodRow1;
                                grid-template-columns: repeat(4, .1fr);
                                gap: 15px;
                                justify-items: center;
                                justify-content: center;
                            }
        
                            .bloodRow2 {
                                display: grid;
                                grid-area: bloodRow2;
                                grid-template-columns: repeat(4, .1fr);
                                gap: 15px;
                                justify-items: center;
                                justify-content: center;
                            }
    
                            .blood1, .blood2 {
                                background-color: var(--whiteBox);
                                width: 115px;
                                height: 115px;
                                border-radius: 15px;
                                box-shadow: 0px 8px 8px #DCABAB;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
    
                                .btype {
                                    background-color: var(--btypeBG);
                                    height: 62.5px;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 15px;
                                    .bloodtype {
                                        margin: 0px;
                                        font-size: 25px;
                                        font-weight: 600;
                                        color: white;
                                    }
                                }
                                
    
                                .bloodCount {
                                    color: rgb(195, 27, 84);
                                    font-weight: 600;
                                    margin: 0px;
                                    font-size: 25px;
                                    height: 62.5px;
                                    display: flex;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
        
                .recipRight {
                    margin-top: 15px;
                    grid-area: right;
                    margin-bottom: 25px;
                    width: 645px;
                    border-radius: 15px;
    
                    .righttxt {
                        width: 500px;
                        margin: 0px;
                        padding-top: 6px;
                        color: var(--dark-text);
                        font-weight: 600;
                    }
                    
                    .recentdons_tbl {
                        border-collapse: separate;
                        border-spacing: 20px;
                        margin: 0px;
                        margin-top: -5px;
                        
                        .rowWrapper {
                            height: 70px;
        
                            .don_row {
                                display: grid;
                                grid-template-columns: repeat(4, .1fr);
                                margin: 0px;
                                margin-left: -20px;
                                height: 74px;
                                width: 655px;
                                border-radius: 10px;
                                box-shadow: 0px 11px 10px var(--shadow);
    
                                p {
                                    margin: 0px;
                                    background-color: var(--rowRightTxt);
                                    width: 190px;
                                    height: 74px;
    
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
        
                                .don_dp {
                                    border-top-left-radius: 10px;
                                    border-bottom-left-radius: 10px;
                                    display: flex;
                                    background-color: var(--rowLeftBG);
                                    justify-content: center;
                                    align-items: center;
                                    img {
                                        margin-left: 20px;
                                        margin-right: 10px;
                                        width: 55px;
                                        height: 55px;
                                        background-color: pink;
                                        border-radius: 100px;
                                    }
    
                                    .don_FName {
                                        display: flex;
                                        justify-content: flex-start;
                                        color: var(--dark-text);
                                        font-weight: 550;
                                    }
                                }
    
                                .don_BType {
                                    color: rgb(197, 0, 0);
                                    font-weight: 550;
                                }
        
                                .don_organ {
                                    border-top-right-radius: 10px;
                                    border-bottom-right-radius: 10px;
                                    padding-left: 95px;
                                    img {
                                        width: 55px;
                                        height: 55px;
                                    }
    
                                    .hnf {
                                        width: 85px;
                                        height: 85px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .donors {
            background-color: var(--dashbBG);
            width: 101%;
            min-height: 100vh;
            padding: 0px;
            padding-right: 25px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            justify-content: center;
            align-items: center;
        }

        .userProfile {
            width: 101%;
            min-height: 100vh;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            background-color: lightpink;
        }
    }
    
}

@media screen and (max-width: 1553px) {
    #recipBottomID {
        display: grid;
        grid-template-areas: 'left' 'right';
        justify-content: center;
        margin-right: 24px;

        .recipLeft {
            margin-left: 50px;
        }

        .recipRight {
            display: grid;
            justify-content: center;
            margin-left: 25px;

            .don_row {
                width: 555px;
                p {
                    width: 156.1px;
                }
            }
        }
    }

    .recipTop {
        display: flex;
        justify-content: center;
        margin-right: 24px;
    }

    .organDon, .bloodDon {
        width: 555px;
    }
}

@media screen and (max-width: 964px) {
    #menubtn {
        top: 0px;
        left: 0px;
        transition: 0.3s ease-in-out;
        z-index: 3;
    }

    #sidebar {
        transition: .3s ease-in-out;
        position: absolute;
        left: -275px;
        z-index: 3;
    }

    .recipDashb {
        overflow-x: hidden;
    }

    .recipBottom {
        margin-top: 0px;
        margin-right: 0px;
    }

    .corner {
        transition: .3s ease-in-out;
        margin-top: -20px;
        margin-bottom: -20px; 
    }
}

@media screen and (max-width: 735px) {
    #donors-table {
        transition: 0.3s ease-in-out;
        scale: 0.9;
    }
}

@media screen and (max-width: 658px) {
    #donors-table {
        transition: 0.3s ease-in-out;
        scale: 0.8;
    }
}

@media screen and (max-width: 600px) {
    .recipLeft, .recipRight {
        transition: 0.3s ease-in-out;
        scale: 0.95;
    }

    .recipBottom {
        transition: 0.3s ease-in-out;
        margin-top: -15px;
    }

    .recipRight {
        margin-top: -15px;
    }
}

@media screen and (max-width: 555px) {
    .recipLeft, .recipRight {
        transition: 0.3s ease-in-out;
        scale: 0.85;
    }
    .recipBottom {
        transition: 0.3s ease-in-out;
        margin-top: -40px;
    }

    .recipRight {
        margin-top: -15px;
    }
}

#donors-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;

    table {
        width: 80%;
        border-collapse: collapse;
        font-size: 15px;
        font-weight: 450;
       
        th, td {
        height: 60px;
        padding: 8px;
        border-bottom: 1px solid #949fa1;
        background-color: white;
        text-align: center;
        }

        th {
            background-color: rgb(193, 26, 29);
            color: white;
        }

        .firstTH {
            position: relative;
            border-top-left-radius: 15px
        }

        .lastTH {
            border-top-right-radius: 20px;
        }

        tr.tenth-row .first-td {
            border-bottom-left-radius: 20px;
        }
          
        tr.tenth-row .last-td {
            border-bottom-right-radius: 20px;
        }

        tr.tenth-row td {
            border-bottom: none;
        }
    }
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-link {
    display: inline-block;
    margin: 10px 0px;
    padding-top: 3px;
    text-decoration: none;
    color: #333;
    height: 30px;
    width: 30px;
    font-weight: 450;
    border-radius: 5px;
    text-align: center;


    &.active {
        border: 1px solid rgb(64, 100, 235);
        background-color: rgb(244, 246, 254);
        font-weight: 600;
    }
}

#pagingLeft, #pagingRight {
    text-align: center;
    height: 39px;
    width: 40px;
    margin: 0px;
    padding: 2px;
    border: none;
}

.arrowLeft, .arrowRight {
    top: 6px;
    position: relative;
    background: var()
}